@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
html, body, #root {
  height: 100%;
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.85);
  }
}